/* Left the ground */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Zen+Kurenaido&display=swap');
/* font-family: 'Zen Kurenaido', sans-serif; */

/* Lobster */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Zen+Kurenaido&display=swap');
/* font-family: 'Lobster', cursive; */

/* Dancing script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Zen+Kurenaido&display=swap');
/* font-family: 'Dancing Script', cursive; */

/* Root styling */

/* Making a css varables */
:root{
--light:#81878d;
--secondary:#adb5db;
--dark:#343a40;
--primary-color:#9e6316;
--secondary-color:#2ec4b6;
--border:#2c097c;

}

body {
    padding: 0;
    margin: 0;
    font-family: 'Zen Kurenaido', san-serif;
    
}

a {
    text-decoration: none;
}

*>*{
    box-sizing: border-box;
}


/* Global styling */


.text-light{
    color:var(--light);
}

.text-secondary{
    color:var(--secondary-color)
}

.text-dark{
    color:var(--dark)
}

.text-primary{
    color:var(--primary-color)
}

.bg-light{
    background-color: var(--light);
}

.container{
    max-width: 1200;
    padding: 0 15px;
    margin: auto;
}


/* Section styling */



/* Nav Bar styling */
.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
/* verticaly aligns nav bar */
.nav-brand{
    font-family: 'Lobster', cursive;
    font-weight: bold;
    align-self: center;
    font-size: 45px;
}

.collapse{
    align-self: center;
}
/* made the link buttons in the nav bar bigger */
.nav-link{
    font-size: 18px;
    margin: 12px;
    color:var(--dark)
}


.search-box{
    display: inline;
    border-right: 1px solid var(--secondary);
    padding-right: 12px;
    margin-right: 10px;
}


/* Add hover to nav link buttons */
.nav-link:hover{
    color: var(--primary-color)
}

/* /Nav Bar styling */

/* /Blog post styling */

*,
*::before,
*::after{
margin:0;
padding: 0;
box-sizing: border-box;
}

html{
    font-family: 'https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Zen+Kurenaido&display=swap';
    font-size: 10px;
}

img{
    width: 100%;
}
 body{
     background-color: #81878d;
     padding:0 1.5rem ;
 }
 .blog-post{
     width: 100%;
     max-width: 98rem;
     padding: 5rem;
     background-color:#81878d;
     box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
     display: flex;
     align-items: center;
    border-radius: .8rem;

 }
 .blog-post_img{ 
    min-width: 35rem;
    max-width: 35rem;
    transform: translateX(-8rem);
    position: relative;
 } 
 .blog-post_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:block;
    border-radius: 8rem;

 }